<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<div id="app">
    <span>姓名: {{name}}</span>
    <input type="text" v-model="name">
    <span>更多: {{more.like}}</span>
    <input type="text" v-model="more.like">
</div>
<script src="./vue.js"></script>
<script>
    const vm = new Vue(
        {
            el: '#app',
            data: {
                name: '垃圾在世',
                more: {
                    like: '唱跳rap'
                }
            }
        }
    )
    // console.log(vm)
</script>